body{
    width: 100%;
}

/* TELA 1 */

.sec1{

    display: grid;
    grid-template-columns: auto auto;


}
.logo img{

    width: 50px;
    height: 50px;
    position: relative;
    left: 60px;

}

/* TELA 2 */

.sec2{
    display: grid;
    background-image: url(../imgs/header.jpg);
    background-size: 100%;
    height: 110vh;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;

}

.logo{

   align-self: center;
}


.menu{
 width: 100%;
 background-color: white;

 display: inline-block;

}

.menu ul{
    list-style: none;
    text-align: right;
    padding: 2rem;
   
}

.menu ul li{
    display: inline;
}

.menu ul li a{
    color: black;
    text-decoration: none;
    padding: 3rem;
    font-size: 1.25rem;
}

.menu ul li a:hover{
    color:#F08080;
}



.txt1{

    display: inline-block;
    width: 100%;
}

.sec2 h1{
    color:white ;
    font-size: 60px;
    text-align: center;
    align-self: end;
}

.sec2 a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    background-color: #DC143C;
    border-radius: 30px;
    padding: 15px;
    align-self: start;

}
.tela{
    width: 100%;
}
.tela img{
    width: 100%;
    height: 350px;
}
.tela2{

    background-color: #E6E6FA;
    height:60vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "txt2 img";
}

.tela2 h1{
    padding: 1rem;
    background-color: #F08080;
    color: white;
    width: 80%;
}

.tela2 p{
    padding: 1rem;
    text-align: justify;
    width: 80%;
}

.tela2 b{
    padding: 1rem;
}

.txttela2{
    grid-area: txt2;
}

.txttela22{
    font-size: 25px;
}

.imgtela2 img{
    grid-area: img;
}

.imgtt2 img{
    width: 70%;
    border-radius: 13%;
    margin-left: 10%;
    margin-top: 10%;
}

/* TELA 3 */


.tela3{

    display: grid;
    
   
}

.objetos{

    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto;
    gap:10px;
  
    justify-items: start;
    
}

.tela{

    padding-left: 10px;
}

.tela img{

    width: 80%;
    height: 60%;
}

.tela3 h1{

    padding: 1rem;
    background-color: #F08080;
    color: white;
    width: 50%;
    font-size: 40px;
}



textarea{

    resize: none;
    
}

.tela4{

    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #E6E6FA;
    height: 70vh;
    align-items: start;
}


.info{
    display: grid;
    grid-template-columns:auto;
    width: 100%;
}
input{
    width: 100%;
    height: 50px;
}
textarea{
    width: 100%;

}
.tela4 h1{

    background-color: #F08080;
    font-size: 40px;
}

.info{

    margin-bottom: 100%;
}

.info h1{

    padding-top: 15px;
}

.botaosm{
    padding-top: 30px;
    height: 15px;
    background-color: #F08080;
    

}

.msg textarea{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 1%;
}

.texto4 b{

    text-align: center;

}

.texto4{

margin-left: 150px;
font-size: 22px;
margin-top: 25%;

}

.footer{

    text-align: center;
    color: gray;
    height: 30px;
    margin-top: 25px;
}
